@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*
 #c292de
 #67b3e4
 #96a3e0
 #ffffff
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Marvel", sans-serif;
}

:root {
	--light-grey: #d3d3d3;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

img {
	width: 100%;
}

button {
	cursor: pointer;
}

html {
	background: #ededed;
	overflow-x: hidden;
	min-height: 100vh;
}
